<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.crosbylanham.baseballstatscollector">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashscreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".FullGame"
            android:screenOrientation="landscape"/>
        <activity android:name=".HomePage"/>
        <activity android:name=".LoadPitcherinformation"/>
        <activity android:name=".MakeTeam"/>
        <activity android:name=".QuickPitchingStatsGameActivity"/>
        <activity android:name=".ViewStats"/>
        <activity android:name=".QuickPitchingStatsActivity"/>
        <activity android:name=".WhosLombo"/>
        <activity android:name=".QuickBattingStatsGameActivity"/>
        <activity android:name=".whattablemenu"/>
        <activity android:name=".QuickBattingStatsActivity">
        </activity>
    </application>

</manifest>